.AboutMeContainer {
    background-color: white;
    justify-content: space-around;
    display:grid;
    padding: 300px;
    font-family: 'Noticia Text', serif;
    
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
}

h1,
p {
    font-family: 'Noticia Text', serif;
}

.images {
    display: flex;
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
}
.nameImageHeader {
    display: flex;
    justify-content: center;
    grid-gap:2em;
}

.firstBioRow,
.secondBioRow {
    display: flex;
    flex-direction: row;
    grid-gap:1em;
    margin-bottom: 10px;
    justify-content: space-around;
    margin: 1em 0 1em;
   
}
.Ricky,
.Alexander,
.Yishay,
.Rebekah {
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    grid-gap:1em;
    padding: 50px;
    justify-content: space-around;
    display:grid;
    background-color: #fafafa;
    margin: 2em;
    height: 600px;
    width: 600px;
}

.images:hover {
    transform: scale(4,4);
}

.btn {
    font-size: 20px;
    white-space: normal;
    word-wrap: break-word;
}
.btn:hover {
    background-color: #00d1b2;
}

.AboutMecontainer button {
    height: 4em;
}