/* Importing Google Fonts */
/* Montserrat */
/* MonteCarlo */
/* Style Script */
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Style+Script&display=swap');

/* More Imported Fonts */
/* PlayFair Display */
/* Special Elite */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');

/* Noticia Text */
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  padding: 0em;
  color: #000;
}

:root {
  --richblack: #000500;
  --bluencs: #0094C6;
  --bluesapphire: #005E7C;
  --bisque: #F1DABF;
  --snow: #FFFBFF;

  --redditDark: #1a1a1b;
  --redditMain: #ff4500;
  --newsapi: #125ab8;
  --subnews: #77b3d4;
  --youtube: #f41915;
  --slashcnn: #cc0000;
  --nationalarchive: #2d4d76;
}

h1 {
  font-family: 'montserrat';
}

a {
  background: none;
  text-align: left;
  color: white;
  text-decoration: none;
  padding: 0em;
  transition: 150ms ease-in-out;
}

p {
  font-family: 'Montserrat';
}

header {
  display: flex;
  justify-content: center;
  padding: 1em 0em;
  background: white;
  border: none;
  align-items: center;
  margin-top: 0;
  width: 100%;
  height: 5em;
  box-shadow: 0 0 4px rgb(0 0 0 / 32%);
  z-index: 1;
  position: fixed;
  top: 0;
}

.desktopMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileMenuLinks{
  display: none;
}

.show {
  display: flex;
}

#menuToggle {
  display: flex;
  border-right: 1px solid var(--grays);
  border-left: 1px solid var(--grays);
  padding: 0px 15px 0px 15px;
  margin: 0px;
  place-items: center;
  transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle:hover {
  cursor: pointer;
  background: var(--soft-white);
  display: flex;
  border-right: 1px solid var(--grays);
  border-left: 1px solid var(--grays);
  padding: 14px 15px;
  margin: 0px;
  place-items: center;
  transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle:hover span {
  transition: 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
  background: #000;
}

#menuToggle span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 0px;
  transform-origin: 4px 0px;
  transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2):nth-last-child(2) {
  transform-origin: 0% 100%;
}

#openMenuToggler.clicked span {
  opacity: 1;
  transform: rotate(-45deg) translate(0px, 0px)   ;
}

#openMenuToggler.clicked span:nth-last-child(2) {
  transform: rotate(45deg) translate(-3px,    -4px);
}

#openMenuToggler.clicked span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

nav.navbar {
  width: 100%;
}

.navbar-end a {
  border-radius: 20px;
  transition: 150ms ease-in-out;
}

.navbar-end .navbar-item:hover {
  background: black;
  color: #fff;
}

header h1 {
  font-family: 'montserrat';
  font-size: 2.5em !important;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

.projectDescription {
  background: white;
  padding: 1em;
  border: solid 2px black;
  margin: 15px 0;
  width: 100%;
}

.projectStyles {
  background: white;
  padding: 1em 3em;
  border: solid 2px black;
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectIntro {
  display: flex;
  grid-gap: 40px;
  margin-top: 15px;
}

.projectTasks {
  display: flex;
  flex-direction: column;
}

.tasksList {
  display: flex;
  flex-wrap: wrap;
  list-style: auto;
}

.task {
  width: 50%;
  height: 50px;
}

.tasksButton {
  width: 100%;
  height: 2em;
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
}

.cup {
  width: 100%;
  max-height: 4em !important;
}
  
.newsContainer {
  margin: 1em 0;
  padding: 2em;
  background: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.appContent {
  padding: 2em;
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
  background: #fff;
  width: 100%;
  min-height: 82vh;
  justify-content: center;
}

.newsRow {
  display: flex;
  width: 100%;
  grid-gap: 45px;
}

.newsColumn {
  background: var(--snow);
  display: flex;
  flex-direction: column;
  padding: 0em 1em 1em 1em;
  align-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  height: 30em;
  width: 100%;
  overflow: auto;
  grid-gap: 1em;
  border-radius: 20px;
}

.newsColumn::-webkit-scrollbar {
  display: none;
}

.colors {
  display: flex;
  grid-gap: 65px;
}

.color {
  height: 100px;
  width: 100px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 3px black;
  font-weight: 700;
  box-shadow: 0 0 8px #bbb;
  border-radius: 25px;
}

.colorCode {
  transform: rotate(-45deg);
}

.color1 {
  background: var(--richblack);
}
.color2 {
  background: var(--bluencs);
}
.color3 {
  background: var(--bluesapphire);
}
.color4 {
  background: var(--bisque);
}
.color5 {
  background: var(--snow);
}

/* Materialize Navbar Overwrite */
.goodmorningNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-bottom: 2em;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  border: none;
}

i.fas.fa-home {
  padding: .2em;
}
i.fas.fa-address-card {
  padding: .4em;
}

.navbar-menu {
  display: flex;
}

.goodmorning-menu {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-brand {
  min-width: 14em;
}

.navbar-start {
  margin: 0;
  justify-content: center;
  font-weight: 900;
  font-size: 1.5em;
}

.navbar-end {
  margin: 0;
  justify-content: flex-start;
  padding-right: .4em;
  grid-gap: 1em;
  font-weight: 600;
}

nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #ee6e73;
  display: flex;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  align-content: center;
  border: none;
}

/* News Columns */

.element {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  justify-content: center;
  align-items: flex-start;
  padding: 1em 1.5em;
  text-align: left;
  font-weight: 600;
  font-size: .85em;
  width: 100%;
}

.element img {
  border-radius: 20px;
}

button {
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: .85em;
  width: 100%;
  border: none;
  padding: 1em;
  border-radius: 20px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

button:hover {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 4px rgb(0 0 0 / 35%);
}

.columnTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1em;
  backdrop-filter: blur(2px);
  margin-bottom: -1.5em;
  font-weight: 600;
}

.titleRow {
  display: flex;
  grid-gap: .5em;
  align-items: flex-start;
}

.byLine {
  font-size: .7em;
  padding-left: 2em;
}

.authorLink {
  padding-left: .2em;
}
/* r/cnn */
.slashCNN {
  background: var(--slashcnn);
  color: #fff;
}

.slashCNN .columnTitle {
  background: var(--slashcnn);
}

.slashCNN a {
  color: #fff;
}

.cnnSource {
  background: #ffffff;
  color: var(--slashcnn) !important;
  font-weight: 600;
  font-size: .85em;
  width: 100%;
  border: none;
  padding: 1em;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  border: .18em solid #fff;
  transition: 150ms ease-in-out;
  justify-content: center;
  grid-gap: .5em;
  align-items: flex-start;
}

.cnnSource:hover {
  background: var(--slashcnn);
  color: #fff !important;
}


/* r/news */

.subNews {
  background: #fff;
  color: #000;
}

.subNewsIndex {
  background: linear-gradient(rgb(255 255 255 / 70%),rgb(255 255 255 / 70%)),url(./images/rslashnewslogo.png);
  background-position: 50% 50%;
  padding: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  color: #000;
  text-shadow: 0 0 4px #fff;
}

.subNews .elementLink {
  color: var(--subnews);
}

.subNews .elementLink:hover {
  color: #000;
}

.subNews .byLine {
  padding-left: 6em;
}

.subNewsLogo {
  max-width: 10%;
}

.subNewsSource {
  background: var(--subnews);
  color: #fff !important;
  font-weight: 600;
  font-size: .85em;
  width: 100%;
  border: none;
  padding: 1em;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  border: 1px solid var(--subnews);
  transition: 150ms ease-in-out;
  justify-content: center;
  grid-gap: .5em;
  align-items: flex-start;
}

.subNewsSource:hover {
  background: #fff;
  color: var(--subnews) !important;
}

.external {
  margin-top: 0.1em;
}

.subNews button {
  background: var(--subnews);
  color: #fff !important;
}

.subNews button:hover {
  background: #fff;
  color: var(--subnews) !important;
}

/* youtube videos */
.youtube {
  background: var(--youtube);
  color: #fff;
}

.youtube i{
  color: #fff;
}

iframe {
  width: 100%;
  min-height: 245px;
  border-radius: 20px;
}

/* reddit memes */

.reddit {
  background: var(--redditDark);
  color: white;
}

.reddit .columnTitle {
  background: rgb(0 0 0 / 50%);
}

.reddit .elementLink {
  color: var(--redditMain);
}

.reddit .elementLink:hover {
  color: #ffffff;
}

.news .columnTitle {
  background: var(--newsapi);
}

.reddit i {
  color: var(--redditMain);
  position: relative;
  background: white;
  border-radius: 100px;
  font-size: 1.5em;
  max-height: 1em;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  padding: 0!important;
  height: 5em;
  box-shadow: 0 0 4px rgb(0 0 0 / 32%);
}

.goodmorning-footer {
  display: flex;
  width: 90%;
  justify-content: center;
  grid-gap: 1em;
  align-items: center;
}

.footer {
  background: #ffffff;
}

.footer-cup {
  width: 4em;
}

/* National Archives */
.nationalArchives {
  background: var(--nationalarchive);
  color: #fff;
}

.nationalArchivesImage {
  max-height: 1.4em;
  filter: invert(1);
}

/* Nasa */
.nasa {
  background: url(./images/starfield-banner.jpg);
  color: white;
  background-size: contain;
}

.nasaLogo {
  max-height: 2.5em;
}

/* News */

.news {
  background: var(--newsapi);
  color: #fff;
  text-align: left;
}

.news .columnTitle {
  background: var(--newsapi);
}

.newsImage {
  width: 27%;
}

.notFound {
  font-size: .6em;
}

/* Reddit */

.reddit i {
  color: var(--redditMain);
  position: relative;
  background: white;
  border-radius: 100px;
  font-size: 1.5em;
  max-height: 1em;
}

.redditMemeElement {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  justify-content: center;
  align-items: flex-start;
  padding: 1em 1.5em;
  text-align: left;
  font-weight: 600;
  font-size: .85em;
}

/* Footer */

.bg-na-blue {
  background-image: initial;
  background-color: rgb(18, 90, 184);
  color: #fff;
  font-family: 'NA Sans';
}

.na-blue {
  color: rgb(48, 146, 234);
}

.cbs{
  background: var(--cbs);
}

.cnn{
  background: var(--cnnGrey);
  color: #FFFBFF;
}

.abc{
  background: var(--abcBlack);
  color: var(--abdWhite);
}

.espn{
  background: var(--espnRed)
}

/* category section styling */
.categorySection {
  display: flex;
  justify-content: center;
}


/* Media Queries */
@media screen and (max-width: 1470px) {
    .newsRow {
      flex-wrap: wrap;
      justify-content: center;
  }

  .newsColumn {
    width: 47%;
  }
}


/* Begin Mobile Menu */
@media screen and (min-width: 992px) {
  .mobile-menu-option {
    display: none;
  }

  .mobileMenuLinks {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: #000;
}

  .mobileMenuLinks .navbar-item {
    text-align: center;
    width: 100%;
    color: #000;
  }

  .mobileMenuLinks .navbar-item:hover {
    color: #fff;
    background: #000;
  }
}

@media screen and (max-width: 992px) {
  .desktopMenu {
    display: none;
  }

  .mobile-menu-option {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .mobileMenuLinks {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: #000;
}

  .mobileMenuLinks .navbar-item {
    text-align: center;
    width: 100%;
    color: #000;
  }

  .mobileMenuLinks .navbar-item:hover {
    color: #fff;
    background: #000;
  }

  .navbar-brand {
    min-width: 14em;
    align-items: center;
    grid-gap: 1em;
  }

  .cup {
    max-height: 3em !important;
  }
}

@media screen and (max-width: 915px) {
  .newsColumn {
    width: 45%;
  }

  .columnTitle {
    font-size: .9em;
  }
}

@media screen and (max-width: 745px) and (min-width: 690px) {
  .columnTitle {
    font-size: .8em;
  }
}

@media screen and (max-width: 676px) {
  .newsColumn {
    width: 100%;
  }
  .columnTitle {
    font-size: 1em;
  }
}